[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = {extras = ["options"], version = "*"}
flask = "*"

[dev-packages]
pylint = "*"
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"
